<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color:#15151E;" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.formula1.com" target="_blank">
          <img src="https://graffica.info/wp-content/uploads/2017/11/F1_Unveil_Images_Final-640x400.png" alt="Formula 1 img" width="80" height="60" class="d-inline-block align-text-center">
          Formula 1
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/pilotos">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
            <div class="d-flex p-2 justify-content-center" role="search">
              <input class="form-control me-2" type="text" name="buscar" id="buscar" placeholder="Search" >
            </div>
            <form class="btn-group d-flex justify-content-end">
              <% if(!isLoggedIn) { %>
                  <a role="button" class="btn btn-success" href="/usuarios/signup"><strong>Sing up</strong></a>
                  <a role="button" class="btn btn-secondary" href="/usuarios/login">Log in</a>
                <% } %>
                <% if (isLoggedIn) { %>
                  <a role="button" class="btn btn-danger" href="/usuarios/logout">Log out</a>
                <% } %>
            </form>
        </div>
      </div>
    </nav>

    
