<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 5</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
      <div class="top-bar">
        <div class="row">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">Mi pagina Personal</li>
              <li class="has-submenu">
                <a href="#">Redes Sociales</a>
                <ul class="submenu menu vertical" data-submenu>
                  <li><a href="https://instagram.com/alancst.s?igshid=YmMyMTA2M2Y=" target="_blank">Instagram</a></li>
                  <li><a href="https://www.facebook.com/alan.castillo.52035?mibextid=LQQJ4d" target="_blank">Facebook</a></li>
                </ul>
              </li>
              <li><a href="#">Algo más</a></li>
              <li><a href="#">Otra más</a></li>
            </ul> 
          </div>
        </div>
      </div>
      
      <div class="column row">
        <hr>
        <ul class="tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Acerca de mi</a></li>
          <li class="tabs-title"><a href="#panel2">Proyectos</a></li>
          <li class="tabs-title"><a href="#panel3">Aficiones</a></li>
          <li class="tabs-title"><a href="#panel4">Preguntas</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
          <div class="tabs-panel is-active" id="panel1">
            <h4>Sobre mi</h4>
            <div class="media-object stack-for-small">
              <div class="media-object-section">
                <img class="thumbnail" src="/Pic.jpg" width="60%" height="60%">
              </div>
              <div class="media-object-section">
                <h5>Alan Castillo</h5>
                <p>Hola, mi nombre es <strong>Alan</strong> y soy un apasionado por la tecnología. Me encanta crear cosas nuevas y mejorar las existentes para hacer la vida más fácil y amigable para los usuarios.</p>
                <p>Desde joven, he estado interesado en la programación y los videojuegos. Actualmente, soy estudiante en el Tec de Monterrey con matricula <strong>A01708668</strong>, estudiando la carrera de Tecnologías Computacionales</p>
              </div>
            </div>
          </div>
          <div class="tabs-panel" id="panel2">
            <h4>Proyectos</h4>
            <p><ul>
              <li>
                <h5>Sitio web para una pequeño proyecto</h5>
                <p>Desarrollé un sitio web para una pequeño proyecto de IoT que se conectaba a una base de datos y obtenía datos para desplegarlos. Utilicé <b>HTML CSS y php</b> para crear una experiencia de usuario atractiva y fácil de usar.</p>
              </li>
              <li>
                <h5>Base de datos</h5>
                <p>Realice una base de datos relacional con <b>MySQL</b> como parte de un proyecto más grande que leía alojaba datos de cuentas y temperaturas para depués desplegarlas.</p>
              </li>
              <li>
                <h5>Aplicación de un pequeño reto</h5>
                <p>Cree un prototipo de aplicación web que ayuda a un usuario a controlar las luces inteligentes que pueda tener en su casa, dividido en las salas de la casa en las que se encuentren, y con la posibilidad de prender/apagar las luces a horas específicas.
                  Utilicé <b>Figma, HTML, CSS y JavaScript</b> para realizar este reto.</p>
              </li>
              <li>
                <h5>Juego de "Ahorcado"</h5>
                <p>Desarrollé un juego de Ahorcado como parte de un reto en una materia utilizando <b>Python</b>, el cuál imprimía en pantalla los dibujos de el ahorcado cada vez más cerca de serlo, si es que el usuario se equivocaba.</p>
              </li>
            </ul></p>
            </div>
            <div class="tabs-panel" id="panel3">
              <h4>Aficiones</h4>
              <ul>
                <li>Jugar videojuegos y aprender sobre las mecanicas y algo del código detrás de ellos</li>
                <li>Practicar deportes al aire libre, ya sea en equipo o individuales</li>
                <li>Ver películas y series de ciencia ficción</li>
                <li>Aprender un poco sobre todo, en especial temas relacionados a filosofía, sociología o psicología</li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel4">
              <h4>Preguntas</h4>
              <ul>
                <li>¿Cuál es la diferencia entre Internet y la World Wide Web?</li>
                Internet es la red subyacente que conecta a todas las computadoras, mientras que la Web es uno de los servicios que se ejecutan en la parte superior de Internet
                <li> ¿Cuáles son las partes de un URL?</li> 
                Un URL (Uniform Resource Locator) es una cadena de caracteres que se utiliza para identificar de manera única una dirección web en Internet. Un URL típicamente se compone de las siguientes partes:
                  <ul><li>Protocolo: Especifica el protocolo de comunicación utilizado para acceder al recurso, como HTTP o HTTPS.</li></ul>
                  <ul><li>Nombre de dominio: Es el nombre del sitio web al que se accede, como www.ejemplo.com.</li></ul>
                  <ul><li>Ruta: Es la ubicación específica del recurso dentro del sitio web.</li></ul>
                  <ul><li>Parámetros de consulta: Son datos opcionales que se envían al servidor para solicitar información adicional.</li></ul>
                  <ul><li>Fragmento: Es una referencia a una sección específica dentro del recurso, como una ancla HTML.</li></ul>
                <li>¿Cuál es el propósito de los métodos HTTP: GET, HEAD, POST, PUT, PATCH, DELETE?</li>
                El propósito de los métodos HTTP es definir cómo se deben comunicar los clientes y servidores web. Por ejemplo, el método GET se utiliza para solicitar recursos del servidor, mientras que el método POST se utiliza para enviar datos al servidor para su procesamiento.
                <li>¿Qué método HTTP se debe utilizar al enviar un formulario HTML, por ejemplo cuando ingresas tu usuario y contraseña en algún sitio? ¿Por qué?</li>
                Se debe utilizar el método POST para enviar un formulario HTML, ya que permite enviar datos al servidor para su procesamiento sin mostrarlos en la URL del navegador. Esto es importante para proteger la privacidad y seguridad de los datos.
                <li>¿Qué método HTTP se utiliza cuando a través de un navegador web se accede a una página a través de un URL?</li>
                Se utiliza el método GET cuando se accede a una página a través de un URL. El navegador solicita el recurso especificado en el URL del servidor y recibe una respuesta que contiene el recurso.
                <li>Un servidor web devuelve una respuesta HTTP con código 200. ¿Qué significa esto? ¿Ocurrió algún error?</li>
                Un código de respuesta HTTP 200 indica que la solicitud del cliente fue exitosa y que el servidor ha devuelto los datos solicitados correctamente. No hubo ningún error.
                <li>¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 404? ¿Por qué?</li>
                Sí, es responsabilidad del desarrollador corregir un sitio web si un usuario reporta un error 404. Esto se debe a que el error 404 indica que la página solicitada no existe, lo que puede afectar la experiencia del usuario y la funcionalidad del sitio.
                <li>¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se encontró con un error 500? ¿Por qué?</li>
                Sí, es responsabilidad del desarrollador corregir un sitio web si un usuario reporta un error 500. Este error indica que se produjo un error interno en el servidor, lo que puede deberse a un problema en el código del sitio. El desarrollador debe solucionar el problema para que el sitio vuelva a funcionar correctamente.
                <li>¿Qué significa que un atributo HTML5 esté depreciado o desaprobado (deprecated)? Menciona algunos elementos de HTML 4 que en HTML5 estén desaprobados.</li>
                Un atributo HTML5 que está deprecado o desaprobado significa que ya no se recomienda su uso y que puede ser eliminado en futuras versiones de HTML. Algunos elementos de HTML 4 que están desaprobados en HTML5 son el elemento "center", el atributo "align" y el elemento "font".
                <li>¿Cuáles son las diferencias principales entre HTML 4 y HTML5?</li>
                Algunas de las principales diferencias entre HTML 4 y HTML5 son la adición de nuevos elementos semánticos en HTML5, como "article" y "section", el soporte integrado para audio y video, y la capacidad de almacenar datos en el navegador del usuario mediante el uso del API de almacenamiento web.
                <li>¿Qué componentes de estructura y estilo tiene una tabla?</li>
                Una tabla en HTML consiste en filas y columnas, que se definen mediante los elementos "tr" y "td", respectivamente. Además de los elementos "tr" y "td", una tabla en HTML también puede contener otros elementos de estructura como "thead", "tbody" y "tfoot" para organizar el contenido de la tabla. Para dar estilo a la tabla, se pueden utilizar atributos como "border", "cellpadding" y "cellspacing", así como estilos CSS para personalizar la apariencia de la tabla, sus celdas y sus bordes. También se pueden utilizar clases y selectores CSS para aplicar estilos específicos a diferentes partes de la tabla.
                <li>¿Cuáles son los principales controles de una forma HTML5?</li>
                Algunos de los principales controles de un formulario HTML5 incluyen:
                  <ul><li>Texto: para ingresar datos de texto</li></ul>
                  <ul><li>Contraseña: para ingresar datos de contraseña (los caracteres se muestran como puntos)</li></ul>
                  <ul><li>Selección: para permitir la selección de una opción de una lista desplegable o una lista de opciones</li></ul>
                  <ul><li>Checkbox: para permitir la selección de una o varias opciones entre varias opciones</li></ul>
                  <ul><li>Radio: para permitir la selección de una única opción entre varias opciones</li></ul>
                  <ul><li>Botón: para enviar el formulario o realizar alguna acción específica</li></ul>
                  <ul><li>Textarea: para ingresar texto en un área de texto de varias líneas</li></ul>
                  <ul><li>Rango: para permitir la selección de un valor en un rango específico</li></ul>
                  <ul><li>Fecha: para permitir la selección de una fecha en un calendario</li></ul>
                  <ul><li>Archivo: para permitir la selección de un archivo para ser cargado al servidor</li></ul>
                Estos controles pueden ser personalizados y estilizados con HTML, CSS y JavaScript para adaptarse a las necesidades específicas de un formulario en particular.
                <li>¿Qué tanto soporte HTML5 tiene el navegador que utilizas?</li>
                Opera obtuvo 474 de 555 puntos
                <li>¿Cuál es el ciclo de vida de los sistemas de información?</li>
                El ciclo de vida de los sistemas de información se refiere a las etapas por las que un sistema de información pasa desde su concepción hasta su obsolescencia. Las etapas típicas son: planificación, análisis, diseño, implementación y mantenimiento.
                <li>¿Cuál es el ciclo de desarrollo de sistemas de información?</li>
                El ciclo de desarrollo de sistemas de información se refiere a la metodología utilizada para crear un sistema de información, y las etapas que se siguen durante el proceso. Las metodologías comunes incluyen el modelo en cascada, el modelo en espiral y la metodología ágil. Las etapas típicas incluyen: requerimientos, diseño, implementación, pruebas y mantenimiento.
                <li>Describe Material Design</li>
                <p>El Material Design sirve para poder conocer las paletas de colores adecuadas y que mejor luzcan dependiendo de los colores que queremos utilizar en nuestros sitio web</p>
              </ul>
          </div>
        </div>
      </div>
      <div class="row column">
        <hr>
        <ul class="menu">
          <li>By Alan Castillo</li>
          <li><a href="mailto:A01708668@tec.mx">Contáctame</a></li>
          <li><a href="https://code.visualstudio.com" target="_blank">Hecho en VS Code</a></li>
        </ul>
      </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>